In [4]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_pass

In [8]:
us_videos = "Resources/USvideos.csv"
gb_videos = "Resources/GBvideos.csv"
fr_videos = "Resources/FRvideos.csv"
ca_videos = "Resources/CAvideos.csv"
germany_videos = "Resources/DEvideos.csv"
us_data_df = pd.read_csv(us_videos)
gb_data_df = pd.read_csv(gb_videos)
fr_data_df = pd.read_csv(fr_videos)
ca_data_df = pd.read_csv(ca_videos)
germany_data_df = pd.read_csv(germany_videos)

In [10]:
us_videos_df_new = us_data_df[['trending_date', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']].copy()
gb_videos_df_new = gb_data_df[['trending_date', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']].copy()
fr_videos_df_new = fr_data_df[['trending_date', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']].copy()
ca_videos_df_new = ca_data_df[['trending_date', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']].copy()
germany_videos_df_new = germany_data_df[['trending_date', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']].copy()
us_videos_df_new.head()

,trending_date,title,channel_title,category_id,views,likes,dislikes,comment_count
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,748374,57527,2966,15954
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2418783,97185,6146,12703
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,3191434,146033,5339,8181
3,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,343168,10172,666,2146
4,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2095731,132235,1989,17518

In [11]:
rds_connection_string =f"postgres:{db_pass}@localhost:5432/YouTube_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
engine.table_names()

['us_videos']

In [15]:
us_videos_df_new.to_sql(name='us_videos', con=engine, if_exists='append', index=False)
gb_videos_df_new.to_sql(name='gb_videos', con=engine, if_exists='append', index=False)
fr_videos_df_new.to_sql(name='france_videos', con=engine, if_exists='append', index=False)
ca_videos_df_new.to_sql(name='canada_videos', con=engine, if_exists='append', index=False)
germany_videos_df_new.to_sql(name='germany_videos', con=engine, if_exists='append', index=False)